<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">
    <title>Politalk</title>
  </head>
  <body>
    <script id="data-stuff">var data = <%- poli %></script>
    <div class="container">
      <div class="clinton-container">
        <img src="/clinton.png" alt="Hillary Clinton">
        <div class="speech-bubble bubble-pos">
          <p class="clinton-talk">I’m Hillary Clinton. I have been proud and privileged to serve as First Lady, as a Senator from New York, and as Secretary of State. I’m the granddaughter of a factory worker and the grandmother of a wonderful one-year-old child. And every day I think about what we need to do to make sure that opportunity is available, not just for her, but for all of our children. I’ve traveled across our country over the last months listening, and learning, and I’ve put forward specific plans about how we’re going to create more good-paying jobs by investing in infrastructure and clean energy, by making it possible once again to invest in science and research and taking the opportunity posed by climate change to grow our economy.</p>
        </div>
      </div>
    </div>
    <div class="talk-input">
      <form name="talkBox" class="talk-box" onsubmit="return false">
        <input type="text" class="input-box" name="interact" autocomplete="off" placeholder="Enter your question for the candidate">
        <input type="submit" class="submit">
      </form>
    </div>
    <script src="/scripts.js" type="text/javascript"></script>
  </body>
</html>
